@model Application.EntitiesModels.Models.WareModel

@{
    Layout = "_ShopLayout";
    ViewBag.Description = Model.MetaDescription;
    ViewBag.Keywords = Model.MetaKeywords;
}

<div class="categories-page product-detail" style="padding-top:20px;">
    <div class="categories main-content">
        <div class="container">
            <div class="product-box product-box-primary">
                <div class="product-box-content">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="product-media">
                                <div class="image-preview-container image-thick-box image_preview_container">
                                    <a class="fancybox open_qv loadImage" data-imageUrl-href="@Model.WareImage">
                                        <img class="loadImage" data-imageUrl="@Model.WareImage" data-zoom-image=" " id="img_zoom" src=" " alt="">
                                    </a>
                                </div>
                                @*<div class="product-preview image-small product_preview">
                                        <div id="thumbnails" class="featue-slide thumbnails_carousel supermartket-owl-carousel" data-number="6" data-margin="15" data-navcontrol="yes">
                                            <a href="#" data-image="assets/images/img-detail.jpg" data-zoom-image="assets/images/img-detail.jpg">
                                                <img src="assets/images/sli-dt1.jpg" data-large-image="assets/images/img-detail-2.jpg" alt="i1">
                                            </a>
                                            <a href="#" data-image="assets/images/img-detail-2.jpg" data-zoom-image="assets/images/img-detail-2.jpg">
                                                <img src="assets/images/sli-dt2.jpg" data-large-image="assets/images/img-detail-2.jpg" alt="i1">
                                            </a>
                                            <a href="#" data-image="assets/images/img-detail-2.jpg" data-zoom-image="assets/images/img-detail-2.jpg">
                                                <img src="assets/images/sli-dt3.jpg" data-large-image="assets/images/img-detail-2.jpg" alt="i1">
                                            </a>
                                            <a href="#" data-image="assets/images/img-detail-2.jpg" data-zoom-image="assets/images/img-detail-2.jpg">
                                                <img src="assets/images/sli-dt2.jpg" data-large-image="assets/images/img-detail-2.jpg" alt="i1">
                                            </a>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="single-product-content">
                                <h3 class="product-title">@Html.DisplayFor(model => model.Name)</h3>
                                <p class="product-cost">@Model.Price UAH</p>
                                <p class="stock">Availability:<span><i class="fa fa-check-square-o" aria-hidden="true"></i>In stock</span></p>
                                <div class="desc-product-title">Краткое описание</div>
                                <div class="desc-product">
                                    @Html.Raw(Model.Text)
                                </div>
                                <div class="product-box-bottom">

                                    <div class="button-detail">
                                        <a href="#" class="add-to-cart add-to-basket" data-subUrl="@Model.SubUrl"><i class="flaticon-commerce"></i>Add To Cart</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail-products product-tabs">
                <ul class="nav nav-pills">
                    <li class="active">
                        <a href="#1a" data-toggle="tab">Описание</a>
                    </li>
                    <li>
                        <a href="#3a" data-toggle="tab">Отзывы</a>
                    </li>
                </ul>
                <div class="product-tabs-content tab-content clearfix">
                    <div class="tab-pane active" id="1a">
                        @Html.Raw(@Model.Text)
                    </div>
                    <div class="tab-pane" id="3a">
                        <div id="reviews">
                            <div id="comments">
                                <h2 class="review-title">2 reviews for ArchitectMade Oscar Figure</h2>
                                <ol class="commentlist">
                                    <li class="comment">
                                        <div class="comment_container">
                                            <img alt="rev" src="~/assets/images/p1.jpg" width="100" height="100" class="avatar">
                                            <div class="comment-text">
                                                <div class="meta">
                                                    <strong>Stuart</strong>-
                                                    <time datetime="2013-06-07T13:01:25+00:00">June 7, 2013</time>
                                                    <div class="rating" title="Rated 5 out of 5">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                </div>
                                                <div class="description">
                                                    <p>This will go great with my Hoodie that I ordered a few weeks ago.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="comment">
                                        <div class="comment_container">
                                            <img alt="rev" src="~/assets/images/p2.jpg" width="100" height="100" class="avatar">
                                            <div class="comment-text">
                                                <div class="meta">
                                                    <strong>Stuart</strong>-
                                                    <time datetime="2013-06-07T13:01:25+00:00">June 7, 2013</time>
                                                    <div class="rating" title="Rated 5 out of 5">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                </div>
                                                <div class="description">
                                                    <p>This will go great with my Hoodie that I ordered a few weeks ago.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ol>
                            </div>
                            <div id="review_form">
                                <div class="comment-respond">
                                    <h3 class="comment-reply-title">Add a review</h3>
                                    <form class="comment-form">
                                        <p>
                                            <label>Name</label>
                                            <input type="text">
                                        </p>
                                        <p>
                                            <label>Email</label>
                                            <input type="email">
                                        </p>
                                        <p>
                                            <label>Comment</label>
                                            <textarea rows="3"></textarea>
                                        </p>
                                        <p>
                                            <a class="button orange" href="#">Submit</a>
                                        </p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
