@model Application.EntitiesModels.Models.BrandModel
<link rel="stylesheet" href="~/css/shop.css" />
<link rel='stylesheet' href='~/assets/css/flaticon.css'>
<link rel='stylesheet' href='~/assets/css/style.css'>
@{
    var counter = 0;
    var url = "http://localhost:5001/shop?search=brands=" + Uri.EscapeDataString(Model.SubUrl);
}
<div class="container margin-from-menu">
        <div class="row">
            <div class="content" style="text-align:center; margin: 0 auto; width: 70%">
                <h2 style="margin-bottom: 20px">@Model.Name</h2>
                <div style="margin-bottom: 20px">
                    <img width='640' height='385' class="loadImage" src=" " data-imageUrl="@Model.LogoImage" alt="">
                </div>
                <div class="body-content" style="margin-top: 30px">
                    @Html.Raw(Model.Body)
                </div>
                <div class="main-content categories-grid1">
                    <div class="container">
                        <div class="categories-page">
                            <div class="row">
                                <div class="content col-md-9">
                                    <div class="categories-grid" id="categories-grid">
                                        @if (Model.Wares.Count > 0)
                                        {
                                            <div style="margin-bottom: 25px; margin-top:25px">
                                                <button type="button" class="btn" style="background-color: gray; color: black; width: 140px;height: 35px;font-size: 17px" onclick="location.href='@url'">Еще товары</button>
                                            </div>
                                            @foreach (var item in Model.Wares)
                                            {
                                                if (counter > 5) { break; }
                                                if (item.IsEnable)
                                                {
                                                    <div class="product-box" style="text-align: start">
                                                        <div class="product-box-content hover-card">

                                                            <a href="@Url.Action("WareDetails", "Shop", new { subUrl = item.SubUrl }, null)">
                                                                <figure class="img-product">
                                                                    <img style="cursor:pointer" src="" class="loadImage" data-imageUrl="@item.WareImage" alt="product" height="207" width="175" />
                                                                </figure>
                                                            </a>

                                                            <div class="product-box-text">
                                                                <a href="@Url.Action("WareDetails", "Shop", new { subUrl = item.SubUrl }, null)" class="product-name">@item.Name</a>
                                                                <p class="product-cost">@item.Price UAH</p>
                                                                <div style="max-height:24px;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;">
                                                                    @Html.Raw(item.Text)
                                                                </div>
                                                                <div class="product-box-bottom">
                                                                    <a href="javascript:void(0)" class="add-to-cart add-to-basket" data-subUrl="@item.SubUrl"><i class="flaticon-commerce"></i>Add To Cart</a>
                                                                    <a href="@Url.Action("AddWareToWishList", "Shop", item, null)" class="wishlist"><i class="flaticon-like"></i></a>
                                                                    <a href="javascript:void(0)" class="refresh-product"><i class="flaticon-arrows"></i></a>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    counter++;
                                                }
                                            }
                                        }
                                        else
                                        {
                                            <p>У бренда нет товаров </p>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
